.home {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 8%;
    margin-top: 50px;
}

.series, .movies {
    width: 12%;
}

.container {
    background-color: black;
    position: relative;
    height: 230px;
    width: 100%;
}

.imagen{
    position: absolute;
    width: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagen img {
    width: 100%;
}
  
.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 180%;
    font-weight: bold;
}
  